.about-container{
    text-align: center;
    width: 60%;
    margin: 60px auto;
    background: lightgray;
    box-shadow: 2px 3px 3px #ccc;
    border: 1px solid #eee;
}
.about-container h2{
    margin: 20px auto;
    text-transform: capitalize;
    font-style: italic;
    font-family: cursive
}
.about-container p{
    margin: 20px;
    text-align: justify;
}