.navigationBar {
    background-color: white;
    padding: 30px 20px;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 2px 3px #ccc;
    z-index: 1;
}
.navigationBar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-container{
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
}
.text-container a{
    text-decoration: none;
    color: darkolivegreen;
}
.text-container:hover{
    cursor: pointer;
}

.info-container{
    font-size: 1.5rem;
    margin-right: 10px; 
}
.info-container a{
    text-decoration: none;
    color: black;
}
.info-container, .info-container a:hover{
    color: grey;
    cursor: pointer;
    text-decoration: none;
}
