.add-container{
    text-align: center;
    margin: 20px auto 20px auto;
    width: 45px;
}
.add-icon{
    font-size: 2rem;
    color: cyan;
}
.add-icon:hover{
    cursor: pointer;
    color: rgb(33, 219, 219);
}

.display-card{
    width: 50%;
    margin: auto;
    background: whitesmoke;
    z-index: 50;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    box-shadow: 3px 5px 3px #ccc;
    border: 1px solid #eee;
}
.display-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin: 20px auto;
    color: black;
    font-style: italic;
    text-align: center;
}
.display-content{
    text-align: center;
    width: 80%;
    margin: 10px auto;

}
.display-content p{
    text-align: left;
    font-weight: bold;
}
.input-style{
    text-align: center;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin: 10px auto;
}
.input-style2{
    width: 100%;
    outline: none;
    font-size: 1rem;
    text-align: center;
    margin: 10px auto;
    font-family: inherit;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn-styles{
    padding: 10px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: darkolivegreen;
    color: whitesmoke;
    border: 1px solid #eee;
    box-shadow: 2px 3px 2px #ccc;
}
.btn-styles2{
    padding: 10px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: darkorange;
    color: black;
    border: 1px solid #eee;
    box-shadow: 2px 3px 2px #ccc;
}
.btn-styles, .btn-styles2:focus{
    outline: none;
}
.btn-styles:hover{
    cursor: pointer;
    color: black;
    background-color: olivedrab
}
.btn-styles2:hover{
    cursor: pointer;
    color: black;
    background-color: coral 
}

.close-icon{
    position: fixed;
    left: 100%;
    transform: translate(-100%);
    font-size: 1.3rem;
    outline: none;
    color: black
}
.close-icon:hover{
    cursor: pointer;
    color: red;
}
