.display-container{
    width: 70%;
    margin: 20px auto;
    background: whitesmoke;
    padding: 10px 20px;
    border: 1px solid #eee;
    box-shadow: 2px 3px 3px #ccc;
}
.date-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}
.location-text{
    display: flex;
    align-items: center;
    margin: 10px auto;
}
.details-text{
    display: flex;
    align-items: center;
    margin: 10px auto;
}
.display-container span{
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
}

.remove-post{
    font-size: 1.3rem;
    outline: none;
}
.remove-post:hover{
    cursor: pointer;
    color: red;
}
